fastapi==0.78.0
starlette==0.19.1
pydantic==1.9.1
uvicorn==0.17.6
xmltodict==0.13.0
SQLAlchemy==1.4.37
ormar==0.11.1
databases==0.6.0
alembic==1.8.0
asyncpg==0.25.0
psycopg2==2.9.3
schedule==1.1.0
requests==2.28.1
